<!DOCTYPE html>
<html lang="en">

<head>
    <!--
		Douglas Madzier
		Thursday, November 16, 2023
	-->

    <!--
    Change Page <title>
-->


    <title>RECIPE TITLE</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="icon" type="image/x-icon" href="../images/favicon.png">
</head>

<body>
    <header class="main-header">
        <h1>Madzier Family Recipes</h1>
        <nav class="nav main-nav">
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="../breakfast/breakfast.html">Breakfast</a></li>
                <li><a href="../lunch/lunch.html">Lunch</a></li>
                <li><a href="../dinner/dinner.html">Dinner</a></li>
                <li><a href="../dessert/dessert.html">Dessert</a></li>
                <li><a href="../contact/contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>

        <!--
            Change <h2> Recipe Name
         -->

        <h2 class="title-h2">RECIPE NAME</h2>

        <!--
            Change <img> src= for Recipe Image and alt= Photo info
        -->

        <img src="../images/image-placeholder-500x500.jpg" alt="Image placeholder ALT text." class="recipe-image-center" />
        <!--
            Change <p> recipe info
        -->
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum sapiente voluptatem quasi dicta sit a pariatur in, ab animi soluta veniam distinctio
            repellat architecto quaerat accusamus sunt, saepe corporis? Eligendi!
        </p>
    </main>

    <section class="recipe-font">
        <h2>Ingredients</h2>
        <ul>
            <li>1st ingredient</li>
            <li>2nd ingredient</li>
            <li>3rd ingredient</li>
            <li>4th ingredient</li>
            <li>5th ingredient</li>
        </ul>
    </section>

    <section class="recipe-font">
        <h2>Instructions</h2>

        <!--
            Change <p> recipe instructions
        -->

        <h3 class="step">Step 1</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam a ab iure ipsam necessitatibus dolore fugit velit natus distinctio deserunt
            reprehenderit, laboriosam ullam ad in delectus voluptatum, quas asperiores alias!
        </p>
        <h3 class="step">Step 2</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam a ab iure ipsam necessitatibus dolore fugit velit natus distinctio deserunt
            reprehenderit, laboriosam ullam ad in delectus voluptatum, quas asperiores alias!
        </p>
        <h3 class="step">Step 3</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam a ab iure ipsam necessitatibus dolore fugit velit natus distinctio deserunt
            reprehenderit, laboriosam ullam ad in delectus voluptatum, quas asperiores alias!
        </p>
        <h3 class="step">Step 4</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam a ab iure ipsam necessitatibus dolore fugit velit natus distinctio deserunt
            reprehenderit, laboriosam ullam ad in delectus voluptatum, quas asperiores alias!
        </p>
        <h3 class="step">Step 5</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam a ab iure ipsam necessitatibus dolore fugit velit natus distinctio deserunt
            reprehenderit, laboriosam ullam ad in delectus voluptatum, quas asperiores alias!
        </p>
    </section>

    <footer>
        <div class="copyright"><span>&copy; Copyright 2023, dsmadz</span></div>
    </footer>
</body>

</html>